{"filter":false,"title":".env.example","tooltip":"/.env.example","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":46,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"b2adbb7f479768dd14d0cd253b805c76c20fd2a4","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1585041981880}